body {
  margin: 0;
  background-color: #202030;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
}

body::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/snow.gif");
  backdrop-filter: blur(4px);
  z-index: -11;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/window.png");
  background-size: 120vw;
  background-position: -10vw;
  z-index: -10;
  backdrop-filter: blur(2px);
}

.center {
  transition: 3s;
  position: absolute;
  inset: 0;
  align-content: center;
}

.candyBorder {
  background: repeating-linear-gradient(45deg,
      #aa1010,
      #aa1010 10px,
      #ffffff 10px,
      #ffffff 20px);
  padding: 1rem;
  width: min-content;
  margin: auto;
  border-radius: 1rem;
  width: min(900px, 90%);
  box-shadow: 0 0 100px -10px black;
}

tr {
  width: max-content;
}

.menu {
  background-color: white;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  min-height: 300px;
  align-content: center;
  padding-bottom: 4rem;
}

.menuCenter {
  width: min(60%, 400px);
  margin: auto;
}

.menuCenter h1 {
  text-align: center;
}


.vAlign {
  width: 100%;
  height: 100%;
  align-content: center;
}

#logout {
  background-color: white;
  padding: 4px 8px;
}

.kalender {
  width: 1200px;
  margin: auto;
  border: solid 2px red;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(45deg,
      #aa1010,
      #aa1010 10px,
      #ffffff 10px,
      #ffffff 20px);
  position: relative;
  box-shadow: 0 0 100px -10px black;
}

#holly {
  position: absolute;
  top: 0;
  left: 0;
  width: 18rem;
  rotate: -35deg;
  transform: translate(-25%, -80%);
}

#inner_kalender {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border: solid 2px red;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: inset 0 0 20px 0 black;
}

#presents_container {
  background: #ffffff;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  border: red 2px solid;
  position: relative;
  box-shadow: inset 0 0 20px 0 black;
}

.boks_kalender {
  border: solid 1px red;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  background: repeating-linear-gradient(45deg,
      #aa1010,
      #aa1010 10px,
      #ffffff 10px,
      #ffffff 20px);
  box-shadow: 0 0 10px 0 black;
}


.child_boks {
  color: black;
  aspect-ratio: 1/1;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  transition: transform 3s;
}

.opened {
  background: #000000;
  color: white;
  animation: box_drop 1.25s;
  animation-fill-mode: forwards;
  z-index: 200;
  position: relative;
}



@keyframes box_drop {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-200%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(100vh);
    animation-timing-function: ease-in;
  }
}

.scene_2 {
  transform: translateY(-100vh);
}

.scene_2_2 {
  transform: translateY(100vh);
}

.light1 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  background: rgb(255, 255, 220 );
  opacity: 0.0;
  clip-path: polygon(85% 0, 90% 0, 135% 100%, 110% 100%);
  transition: all 2s;
}

.light2 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  background: rgb(255, 255, 220 );
  opacity: 0.0;
  clip-path: polygon(55% 0, 60% 0, 135% 100%, 110% 100%);
  transition: all 2s;
}

.light3 {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  background: rgb(255, 255, 220 );
  opacity: 0.0;
  clip-path: polygon(0% 0, 5% 0, -10% 100%, -35% 100%);
  transition: all 2s;
}

.light_trans1 {
  opacity: 0.7;
  clip-path: polygon(85% 0, 90% 0, 35% 100%, 10% 100%);
}

.light_trans2 {
  opacity: 0.7;
  clip-path: polygon(55% 0, 60% 0, 60% 100%, 40% 100%);
}

.light_trans3 {
  opacity: 0.7;
  clip-path: polygon(10% 0, 15% 0, 90% 100%, 65% 100%);
}

.light_off {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 2s;
  pointer-events: none;
  
}

.light_off_trans {
  opacity: 0.7;
}

.presentBar {
  position: absolute;
  bottom: 0;
  width: 400vw;
  display: flex;
  justify-content: space-evenly;
  transition: width 1s;
}

.pSlideIn {
  width: 100%;
}

.present {
  height: 120px;
  opacity: 0.7;
  width: 100px;
  position: relative;
  z-index: 1200;
}

.base {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.lid {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  transition: top 1s;

}

.presentOpened0 .lid {
  top: -10rem;
}

.presentOpened1 .lid {
  top: -10rem;
}

.presentOpened2 .lid {
  top: -10rem;
}

#winner {
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 4rem;
}
